html, body{
	font-family:sans-serif;
	width:100%;
}

/*#topSection{
	width:100%;
	height:10px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:10;
}

#bottomSection{
	width:100%;
	height:10px;
	position:absolute;
	bottom:0px;
	left:0px;
}*/

#containerBox{
	background-color:#006699;
	height:600px;
	width:700px;
	border-radius: 50px;	
	
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	margin: auto;
}

#socialButtons{
	position: relative;
	float:left;
	z-index:100;
	top: 75px;
	left: 225px;
}


#social{
	height:50px;
	padding:15px;

}


#title{
	font-size:62px;
	color: white;
	text-align: center;

	position: relative;
	float: left;
	top:150px;
	left:65px;

	z-index: 100;

}
	
#downloadButton{
	width:250px;
	height:70px;
	font-size: 20px;
	font-weight:bold;
	border:none; /*fix to customize button size*/
	border-radius:10px;
	cursor:pointer;

	position:relative;
	float:left;
	top:300px;
	left:225px;

	z-index: 100;

}

.buttonBg:{
}

/*input:hover {
	/*background-color:red;*/
  /*box-shadow: inset 0 0 0 50px rgba(0, 0, 0, .5);
  color:white;
}*/


.clearfix{
	clear:both;
}
